## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [83]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# cutoff value chosen was T10/528
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T15', 'T29', 'T17']


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T15', 'T29', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1570        1
C4500        1
C1580        1
C2561        1
C2570        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
b_classifcation_counts = classification_counts[classification_counts > 1]
b_classifcation_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C1260        3
C0           3
C2710        3
C3200        2
C1246        2
C1267        2
C1256        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# viewing DF
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE','INCOME_AMT', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS'])
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,1,1,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values.reshape(-1, 1)
X = application_df.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

# number of layer1 nuerons = 2 x number of input features
number_layer1_nodes = 86

# number of layer2 nuerons = number of input features
number_layer2_nodes = 43

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(number_layer1_nodes, activation='relu', input_shape=(number_input_features,)))

# Second hidden layer
nn.add(tf.keras.layers.Dense(number_layer2_nodes, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 86)                3784

 dense_1 (Dense)             (None, 43)                3741

 dense_2 (Dense)             (None, 1)                 44

=================================================================
Total params: 7,569
Trainable params: 7,569
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [16]:
# Add model weight checkpoints during training
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path="checkpoints/weights.{epoch}.hdf5"

# Create callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq="epoch",
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback])

Epoch 1/100
858/858 [==============================] - 1s 687us/step - loss: 0.5705 - accuracy: 0.7216
Epoch 2/100
858/858 [==============================] - 1s 715us/step - loss: 0.5553 - accuracy: 0.7291
Epoch 3/100
858/858 [==============================] - 1s 730us/step - loss: 0.5522 - accuracy: 0.7300
Epoch 4/100
858/858 [==============================] - 1s 692us/step - loss: 0.5502 - accuracy: 0.7318
Epoch 5/100
799/858 [==========================>...] - ETA: 0s - loss: 0.5487 - accuracy: 0.7328
Epoch 00005: saving model to checkpoints\weights.5.hdf5
858/858 [==============================] - 1s 729us/step - loss: 0.5483 - accuracy: 0.7330
Epoch 6/100
858/858 [==============================] - 1s 699us/step - loss: 0.5478 - accuracy: 0.7310
Epoch 7/100
858/858 [==============================] - 1s 791us/step - loss: 0.5465 - accuracy: 0.7337
Epoch 8/100
858/858 [==============================] - 1s 705us/step - loss: 0.5462 - accuracy: 0.7335
Epoch 9/100
858/858 [==============================] - 1s 716us/step - loss: 0.5457 - accuracy: 0.7341
Epoch 10/100
807/858 [===========================>..] - ETA: 0s - loss: 0.5446 - accuracy: 0.7354
Epoch 00010: saving model to checkpoints\weights.10.hdf5
858/858 [==============================] - 1s 770us/step - loss: 0.5449 - accuracy: 0.7354
Epoch 11/100
858/858 [==============================] - 1s 693us/step - loss: 0.5448 - accuracy: 0.7347
Epoch 12/100
858/858 [==============================] - 1s 684us/step - loss: 0.5447 - accuracy: 0.7350
Epoch 13/100
858/858 [==============================] - 1s 722us/step - loss: 0.5436 - accuracy: 0.7351
Epoch 14/100
858/858 [==============================] - 1s 670us/step - loss: 0.5438 - accuracy: 0.7360
Epoch 15/100
817/858 [===========================>..] - ETA: 0s - loss: 0.5433 - accuracy: 0.7349
Epoch 00015: saving model to checkpoints\weights.15.hdf5
858/858 [==============================] - 1s 701us/step - loss: 0.5431 - accuracy: 0.7354
Epoch 16/100
858/858 [==============================] - 1s 801us/step - loss: 0.5426 - accuracy: 0.7359
Epoch 17/100
858/858 [==============================] - 1s 732us/step - loss: 0.5424 - accuracy: 0.7362
Epoch 18/100
858/858 [==============================] - 1s 690us/step - loss: 0.5425 - accuracy: 0.7355
Epoch 19/100
858/858 [==============================] - 1s 725us/step - loss: 0.5417 - accuracy: 0.7363
Epoch 20/100
829/858 [===========================>..] - ETA: 0s - loss: 0.5425 - accuracy: 0.7359
Epoch 00020: saving model to checkpoints\weights.20.hdf5
858/858 [==============================] - 1s 748us/step - loss: 0.5416 - accuracy: 0.7369
Epoch 21/100
858/858 [==============================] - 1s 682us/step - loss: 0.5414 - accuracy: 0.7376
Epoch 22/100
858/858 [==============================] - 1s 712us/step - loss: 0.5412 - accuracy: 0.7362
Epoch 23/100
858/858 [==============================] - 1s 722us/step - loss: 0.5412 - accuracy: 0.7364
Epoch 24/100
858/858 [==============================] - 1s 710us/step - loss: 0.5406 - accuracy: 0.7360
Epoch 25/100
826/858 [===========================>..] - ETA: 0s - loss: 0.5413 - accuracy: 0.7370
Epoch 00025: saving model to checkpoints\weights.25.hdf5
858/858 [==============================] - 1s 694us/step - loss: 0.5406 - accuracy: 0.7375
Epoch 26/100
858/858 [==============================] - 1s 668us/step - loss: 0.5401 - accuracy: 0.7376
Epoch 27/100
858/858 [==============================] - 1s 678us/step - loss: 0.5397 - accuracy: 0.7383
Epoch 28/100
858/858 [==============================] - 1s 683us/step - loss: 0.5397 - accuracy: 0.7378
Epoch 29/100
858/858 [==============================] - 1s 662us/step - loss: 0.5398 - accuracy: 0.7373
Epoch 30/100
800/858 [==========================>...] - ETA: 0s - loss: 0.5387 - accuracy: 0.7386
Epoch 00030: saving model to checkpoints\weights.30.hdf5
858/858 [==============================] - 1s 711us/step - loss: 0.5398 - accuracy: 0.7378
Epoch 31/100
858/858 [==============================] - 1s 701us/step - loss: 0.5390 - accuracy: 0.7375
Epoch 32/100
858/858 [==============================] - 1s 681us/step - loss: 0.5393 - accuracy: 0.7377
Epoch 33/100
858/858 [==============================] - 1s 692us/step - loss: 0.5391 - accuracy: 0.7376
Epoch 34/100
858/858 [==============================] - 1s 670us/step - loss: 0.5388 - accuracy: 0.7381
Epoch 35/100
852/858 [============================>.] - ETA: 0s - loss: 0.5383 - accuracy: 0.7380
Epoch 00035: saving model to checkpoints\weights.35.hdf5
858/858 [==============================] - 1s 673us/step - loss: 0.5385 - accuracy: 0.7380
Epoch 36/100
858/858 [==============================] - 1s 662us/step - loss: 0.5381 - accuracy: 0.7373
Epoch 37/100
858/858 [==============================] - 1s 668us/step - loss: 0.5384 - accuracy: 0.7377
Epoch 38/100
858/858 [==============================] - 1s 648us/step - loss: 0.5387 - accuracy: 0.7376
Epoch 39/100
858/858 [==============================] - 1s 662us/step - loss: 0.5380 - accuracy: 0.7387
Epoch 40/100
831/858 [============================>.] - ETA: 0s - loss: 0.5383 - accuracy: 0.7386
Epoch 00040: saving model to checkpoints\weights.40.hdf5
858/858 [==============================] - 1s 684us/step - loss: 0.5383 - accuracy: 0.7383
Epoch 41/100
858/858 [==============================] - 1s 638us/step - loss: 0.5377 - accuracy: 0.7375
Epoch 42/100
858/858 [==============================] - 1s 694us/step - loss: 0.5376 - accuracy: 0.7384
Epoch 43/100
858/858 [==============================] - 1s 682us/step - loss: 0.5373 - accuracy: 0.7383
Epoch 44/100
858/858 [==============================] - 1s 673us/step - loss: 0.5377 - accuracy: 0.7385
Epoch 45/100
836/858 [============================>.] - ETA: 0s - loss: 0.5379 - accuracy: 0.7387
Epoch 00045: saving model to checkpoints\weights.45.hdf5
858/858 [==============================] - 1s 680us/step - loss: 0.5375 - accuracy: 0.7389
Epoch 46/100
858/858 [==============================] - 1s 659us/step - loss: 0.5370 - accuracy: 0.7385
Epoch 47/100
858/858 [==============================] - 1s 660us/step - loss: 0.5371 - accuracy: 0.7388
Epoch 48/100
858/858 [==============================] - 1s 658us/step - loss: 0.5372 - accuracy: 0.7393
Epoch 49/100
858/858 [==============================] - 1s 663us/step - loss: 0.5366 - accuracy: 0.7380
Epoch 50/100
783/858 [==========================>...] - ETA: 0s - loss: 0.5366 - accuracy: 0.7379
Epoch 00050: saving model to checkpoints\weights.50.hdf5
858/858 [==============================] - 1s 716us/step - loss: 0.5367 - accuracy: 0.7381
Epoch 51/100
858/858 [==============================] - 1s 677us/step - loss: 0.5371 - accuracy: 0.7387
Epoch 52/100
858/858 [==============================] - 1s 685us/step - loss: 0.5371 - accuracy: 0.7385
Epoch 53/100
858/858 [==============================] - 1s 667us/step - loss: 0.5365 - accuracy: 0.7396
Epoch 54/100
858/858 [==============================] - 1s 666us/step - loss: 0.5360 - accuracy: 0.7388
Epoch 55/100
844/858 [============================>.] - ETA: 0s - loss: 0.5356 - accuracy: 0.7389
Epoch 00055: saving model to checkpoints\weights.55.hdf5
858/858 [==============================] - 1s 670us/step - loss: 0.5362 - accuracy: 0.7385
Epoch 56/100
858/858 [==============================] - 1s 650us/step - loss: 0.5360 - accuracy: 0.7380
Epoch 57/100
858/858 [==============================] - 1s 659us/step - loss: 0.5365 - accuracy: 0.7389
Epoch 58/100
858/858 [==============================] - 1s 643us/step - loss: 0.5365 - accuracy: 0.7397
Epoch 59/100
858/858 [==============================] - 1s 657us/step - loss: 0.5359 - accuracy: 0.7387
Epoch 60/100
851/858 [============================>.] - ETA: 0s - loss: 0.5360 - accuracy: 0.7391
Epoch 00060: saving model to checkpoints\weights.60.hdf5
858/858 [==============================] - 1s 675us/step - loss: 0.5360 - accuracy: 0.7391
Epoch 61/100
858/858 [==============================] - 1s 685us/step - loss: 0.5357 - accuracy: 0.7395
Epoch 62/100
858/858 [==============================] - 1s 671us/step - loss: 0.5356 - accuracy: 0.7391
Epoch 63/100
858/858 [==============================] - 1s 635us/step - loss: 0.5357 - accuracy: 0.7392
Epoch 64/100
858/858 [==============================] - 1s 648us/step - loss: 0.5355 - accuracy: 0.7382
Epoch 65/100
858/858 [==============================] - ETA: 0s - loss: 0.5351 - accuracy: 0.7389
Epoch 00065: saving model to checkpoints\weights.65.hdf5
858/858 [==============================] - 1s 666us/step - loss: 0.5351 - accuracy: 0.7389
Epoch 66/100
858/858 [==============================] - 1s 705us/step - loss: 0.5358 - accuracy: 0.7400
Epoch 67/100
858/858 [==============================] - 1s 674us/step - loss: 0.5354 - accuracy: 0.7389
Epoch 68/100
858/858 [==============================] - 1s 669us/step - loss: 0.5350 - accuracy: 0.7395
Epoch 69/100
858/858 [==============================] - 1s 662us/step - loss: 0.5353 - accuracy: 0.7394
Epoch 70/100
858/858 [==============================] - ETA: 0s - loss: 0.5347 - accuracy: 0.7397
Epoch 00070: saving model to checkpoints\weights.70.hdf5
858/858 [==============================] - 1s 787us/step - loss: 0.5347 - accuracy: 0.7397
Epoch 71/100
858/858 [==============================] - 1s 683us/step - loss: 0.5352 - accuracy: 0.7405
Epoch 72/100
858/858 [==============================] - 1s 717us/step - loss: 0.5349 - accuracy: 0.7398
Epoch 73/100
858/858 [==============================] - 1s 732us/step - loss: 0.5358 - accuracy: 0.7388
Epoch 74/100
858/858 [==============================] - 1s 688us/step - loss: 0.5347 - accuracy: 0.7390
Epoch 75/100
822/858 [===========================>..] - ETA: 0s - loss: 0.5333 - accuracy: 0.7407
Epoch 00075: saving model to checkpoints\weights.75.hdf5
858/858 [==============================] - 1s 697us/step - loss: 0.5345 - accuracy: 0.7402
Epoch 76/100
858/858 [==============================] - 1s 734us/step - loss: 0.5349 - accuracy: 0.7404
Epoch 77/100
858/858 [==============================] - 1s 753us/step - loss: 0.5346 - accuracy: 0.7395
Epoch 78/100
858/858 [==============================] - 1s 861us/step - loss: 0.5345 - accuracy: 0.7392
Epoch 79/100
858/858 [==============================] - 1s 717us/step - loss: 0.5343 - accuracy: 0.7404
Epoch 80/100
848/858 [============================>.] - ETA: 0s - loss: 0.5349 - accuracy: 0.7401
Epoch 00080: saving model to checkpoints\weights.80.hdf5
858/858 [==============================] - 1s 736us/step - loss: 0.5345 - accuracy: 0.7401
Epoch 81/100
858/858 [==============================] - 1s 700us/step - loss: 0.5343 - accuracy: 0.7407
Epoch 82/100
858/858 [==============================] - 1s 685us/step - loss: 0.5345 - accuracy: 0.7406
Epoch 83/100
858/858 [==============================] - 1s 708us/step - loss: 0.5341 - accuracy: 0.7402
Epoch 84/100
858/858 [==============================] - 1s 699us/step - loss: 0.5342 - accuracy: 0.7406
Epoch 85/100
784/858 [==========================>...] - ETA: 0s - loss: 0.5331 - accuracy: 0.7408
Epoch 00085: saving model to checkpoints\weights.85.hdf5
858/858 [==============================] - 1s 717us/step - loss: 0.5341 - accuracy: 0.7400
Epoch 86/100
858/858 [==============================] - 1s 787us/step - loss: 0.5336 - accuracy: 0.7401
Epoch 87/100
858/858 [==============================] - 1s 682us/step - loss: 0.5339 - accuracy: 0.7396
Epoch 88/100
858/858 [==============================] - 1s 683us/step - loss: 0.5343 - accuracy: 0.7400
Epoch 89/100
858/858 [==============================] - 1s 800us/step - loss: 0.5340 - accuracy: 0.7391
Epoch 90/100
793/858 [==========================>...] - ETA: 0s - loss: 0.5344 - accuracy: 0.7398
Epoch 00090: saving model to checkpoints\weights.90.hdf5
858/858 [==============================] - 1s 655us/step - loss: 0.5341 - accuracy: 0.7399
Epoch 91/100
858/858 [==============================] - 1s 641us/step - loss: 0.5344 - accuracy: 0.7402
Epoch 92/100
858/858 [==============================] - 1s 704us/step - loss: 0.5339 - accuracy: 0.7409
Epoch 93/100
858/858 [==============================] - 1s 640us/step - loss: 0.5339 - accuracy: 0.7407
Epoch 94/100
858/858 [==============================] - 1s 645us/step - loss: 0.5338 - accuracy: 0.7404
Epoch 95/100
798/858 [==========================>...] - ETA: 0s - loss: 0.5349 - accuracy: 0.7393
Epoch 00095: saving model to checkpoints\weights.95.hdf5
858/858 [==============================] - 1s 654us/step - loss: 0.5337 - accuracy: 0.7404
Epoch 96/100
858/858 [==============================] - 1s 731us/step - loss: 0.5336 - accuracy: 0.7406
Epoch 97/100
858/858 [==============================] - 1s 670us/step - loss: 0.5338 - accuracy: 0.7397
Epoch 98/100
858/858 [==============================] - 1s 706us/step - loss: 0.5337 - accuracy: 0.7398
Epoch 99/100
858/858 [==============================] - 1s 633us/step - loss: 0.5335 - accuracy: 0.7403
Epoch 100/100
823/858 [===========================>..] - ETA: 0s - loss: 0.5329 - accuracy: 0.7404
Epoch 00100: saving model to checkpoints\weights.100.hdf5
858/858 [==============================] - 1s 633us/step - loss: 0.5329 - accuracy: 0.7403

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5702 - accuracy: 0.7258 - 182ms/epoch - 847us/step
Loss: 0.5702486038208008, Accuracy: 0.7258017659187317

In [19]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")