## Preprocessing

In [80]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [81]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [82]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [83]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE

In [84]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [85]:
# Choose a cutoff value and create a list of application types to be replaced
# cutoff value chosen was T10/528
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T15', 'T29', 'T17']


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [86]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T15', 'T29', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [87]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1236        1
C1245        1
C2190        1
C1732        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [88]:
# You may find it helpful to look at CLASSIFICATION value counts >1
b_classifcation_counts = classification_counts[classification_counts > 1]
b_classifcation_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C0           3
C2710        3
C1260        3
C1256        2
C1246        2
C3200        2
C1234        2
C1267        2
Name: CLASSIFICATION, dtype: int64

In [89]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [90]:
# viewing DF
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [91]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE','INCOME_AMT', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS'])
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,1,1,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,1,0

In [92]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values.reshape(-1, 1)
X = application_df.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [93]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [94]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

# number of layer1 nuerons
number_layer1_nodes = 100

# number of layer2 nuerons
number_layer2_nodes = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(number_layer1_nodes, activation='relu', input_shape=(number_input_features,)))

# Second hidden layer
nn.add(tf.keras.layers.Dense(number_layer2_nodes, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 100)               4400

 dense_7 (Dense)             (None, 50)                5050

 dense_8 (Dense)             (None, 1)                 51

=================================================================
Total params: 9,501
Trainable params: 9,501
Non-trainable params: 0
_________________________________________________________________

In [95]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [97]:
# Add model weight checkpoints during training
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path="checkpoints/weights.{epoch}.hdf5"

# Create callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq="epoch",
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [98]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback])

Epoch 1/100
858/858 [==============================] - 1s 667us/step - loss: 0.5331 - accuracy: 0.7414
Epoch 2/100
858/858 [==============================] - 1s 618us/step - loss: 0.5343 - accuracy: 0.7410
Epoch 3/100
858/858 [==============================] - 1s 624us/step - loss: 0.5332 - accuracy: 0.7407
Epoch 4/100
858/858 [==============================] - 1s 617us/step - loss: 0.5332 - accuracy: 0.7408
Epoch 5/100
828/858 [===========================>..] - ETA: 0s - loss: 0.5332 - accuracy: 0.7408
Epoch 00005: saving model to checkpoints\weights.5.hdf5
858/858 [==============================] - 1s 695us/step - loss: 0.5333 - accuracy: 0.7408
Epoch 6/100
858/858 [==============================] - 1s 657us/step - loss: 0.5332 - accuracy: 0.7413
Epoch 7/100
858/858 [==============================] - 1s 693us/step - loss: 0.5332 - accuracy: 0.7402
Epoch 8/100
858/858 [==============================] - 1s 661us/step - loss: 0.5328 - accuracy: 0.7403
Epoch 9/100
858/858 [==============================] - 1s 632us/step - loss: 0.5326 - accuracy: 0.7413
Epoch 10/100
793/858 [==========================>...] - ETA: 0s - loss: 0.5320 - accuracy: 0.7415
Epoch 00010: saving model to checkpoints\weights.10.hdf5
858/858 [==============================] - 1s 658us/step - loss: 0.5328 - accuracy: 0.7411
Epoch 11/100
858/858 [==============================] - 1s 734us/step - loss: 0.5333 - accuracy: 0.7410
Epoch 12/100
858/858 [==============================] - 1s 697us/step - loss: 0.5325 - accuracy: 0.7411
Epoch 13/100
858/858 [==============================] - 1s 699us/step - loss: 0.5330 - accuracy: 0.7408
Epoch 14/100
858/858 [==============================] - 1s 604us/step - loss: 0.5326 - accuracy: 0.7409
Epoch 15/100
803/858 [===========================>..] - ETA: 0s - loss: 0.5319 - accuracy: 0.7412
Epoch 00015: saving model to checkpoints\weights.15.hdf5
858/858 [==============================] - 1s 645us/step - loss: 0.5328 - accuracy: 0.7406
Epoch 16/100
858/858 [==============================] - 1s 609us/step - loss: 0.5331 - accuracy: 0.7418
Epoch 17/100
858/858 [==============================] - 1s 634us/step - loss: 0.5331 - accuracy: 0.7408
Epoch 18/100
858/858 [==============================] - 1s 613us/step - loss: 0.5326 - accuracy: 0.7411
Epoch 19/100
858/858 [==============================] - 1s 619us/step - loss: 0.5336 - accuracy: 0.7409
Epoch 20/100
829/858 [===========================>..] - ETA: 0s - loss: 0.5325 - accuracy: 0.7411
Epoch 00020: saving model to checkpoints\weights.20.hdf5
858/858 [==============================] - 1s 627us/step - loss: 0.5332 - accuracy: 0.7405
Epoch 21/100
858/858 [==============================] - 1s 639us/step - loss: 0.5325 - accuracy: 0.7414
Epoch 22/100
858/858 [==============================] - 1s 620us/step - loss: 0.5321 - accuracy: 0.7408
Epoch 23/100
858/858 [==============================] - 1s 611us/step - loss: 0.5321 - accuracy: 0.7418
Epoch 24/100
858/858 [==============================] - 1s 605us/step - loss: 0.5327 - accuracy: 0.7402
Epoch 25/100
800/858 [==========================>...] - ETA: 0s - loss: 0.5316 - accuracy: 0.7421
Epoch 00025: saving model to checkpoints\weights.25.hdf5
858/858 [==============================] - 1s 646us/step - loss: 0.5326 - accuracy: 0.7414
Epoch 26/100
858/858 [==============================] - 1s 648us/step - loss: 0.5324 - accuracy: 0.7411
Epoch 27/100
858/858 [==============================] - 1s 624us/step - loss: 0.5324 - accuracy: 0.7409
Epoch 28/100
858/858 [==============================] - 1s 612us/step - loss: 0.5325 - accuracy: 0.7411
Epoch 29/100
858/858 [==============================] - 1s 608us/step - loss: 0.5323 - accuracy: 0.7415
Epoch 30/100
832/858 [============================>.] - ETA: 0s - loss: 0.5331 - accuracy: 0.7410
Epoch 00030: saving model to checkpoints\weights.30.hdf5
858/858 [==============================] - 1s 624us/step - loss: 0.5328 - accuracy: 0.7410
Epoch 31/100
858/858 [==============================] - 1s 610us/step - loss: 0.5323 - accuracy: 0.7412
Epoch 32/100
858/858 [==============================] - 1s 619us/step - loss: 0.5322 - accuracy: 0.7418
Epoch 33/100
858/858 [==============================] - 1s 602us/step - loss: 0.5323 - accuracy: 0.7408
Epoch 34/100
858/858 [==============================] - 1s 606us/step - loss: 0.5321 - accuracy: 0.7418
Epoch 35/100
833/858 [============================>.] - ETA: 0s - loss: 0.5328 - accuracy: 0.7406
Epoch 00035: saving model to checkpoints\weights.35.hdf5
858/858 [==============================] - 1s 624us/step - loss: 0.5326 - accuracy: 0.7411
Epoch 36/100
858/858 [==============================] - 1s 630us/step - loss: 0.5322 - accuracy: 0.7418
Epoch 37/100
858/858 [==============================] - 1s 651us/step - loss: 0.5318 - accuracy: 0.7413
Epoch 38/100
858/858 [==============================] - 1s 610us/step - loss: 0.5320 - accuracy: 0.7419
Epoch 39/100
858/858 [==============================] - 1s 608us/step - loss: 0.5322 - accuracy: 0.7416
Epoch 40/100
836/858 [============================>.] - ETA: 0s - loss: 0.5317 - accuracy: 0.7411
Epoch 00040: saving model to checkpoints\weights.40.hdf5
858/858 [==============================] - 1s 621us/step - loss: 0.5321 - accuracy: 0.7411
Epoch 41/100
858/858 [==============================] - 1s 612us/step - loss: 0.5325 - accuracy: 0.7415
Epoch 42/100
858/858 [==============================] - 1s 620us/step - loss: 0.5319 - accuracy: 0.7407
Epoch 43/100
858/858 [==============================] - 1s 609us/step - loss: 0.5322 - accuracy: 0.7409
Epoch 44/100
858/858 [==============================] - 1s 613us/step - loss: 0.5315 - accuracy: 0.7414
Epoch 45/100
855/858 [============================>.] - ETA: 0s - loss: 0.5320 - accuracy: 0.7420
Epoch 00045: saving model to checkpoints\weights.45.hdf5
858/858 [==============================] - 1s 668us/step - loss: 0.5320 - accuracy: 0.7419
Epoch 46/100
858/858 [==============================] - 1s 751us/step - loss: 0.5318 - accuracy: 0.7412
Epoch 47/100
858/858 [==============================] - 1s 624us/step - loss: 0.5316 - accuracy: 0.7421
Epoch 48/100
858/858 [==============================] - 1s 611us/step - loss: 0.5315 - accuracy: 0.7419
Epoch 49/100
858/858 [==============================] - 1s 609us/step - loss: 0.5323 - accuracy: 0.7420
Epoch 50/100
856/858 [============================>.] - ETA: 0s - loss: 0.5322 - accuracy: 0.7413
Epoch 00050: saving model to checkpoints\weights.50.hdf5
858/858 [==============================] - 1s 668us/step - loss: 0.5322 - accuracy: 0.7414
Epoch 51/100
858/858 [==============================] - 1s 676us/step - loss: 0.5352 - accuracy: 0.7413
Epoch 52/100
858/858 [==============================] - 1s 678us/step - loss: 0.5318 - accuracy: 0.7408
Epoch 53/100
858/858 [==============================] - 1s 635us/step - loss: 0.5314 - accuracy: 0.7417
Epoch 54/100
858/858 [==============================] - 1s 603us/step - loss: 0.5323 - accuracy: 0.7415
Epoch 55/100
821/858 [===========================>..] - ETA: 0s - loss: 0.5313 - accuracy: 0.7411
Epoch 00055: saving model to checkpoints\weights.55.hdf5
858/858 [==============================] - 1s 636us/step - loss: 0.5314 - accuracy: 0.7414
Epoch 56/100
858/858 [==============================] - 1s 696us/step - loss: 0.5316 - accuracy: 0.7420
Epoch 57/100
858/858 [==============================] - 1s 669us/step - loss: 0.5315 - accuracy: 0.7415
Epoch 58/100
858/858 [==============================] - 1s 611us/step - loss: 0.5310 - accuracy: 0.7420
Epoch 59/100
858/858 [==============================] - 1s 664us/step - loss: 0.5314 - accuracy: 0.7411
Epoch 60/100
836/858 [============================>.] - ETA: 0s - loss: 0.5312 - accuracy: 0.7424
Epoch 00060: saving model to checkpoints\weights.60.hdf5
858/858 [==============================] - 1s 624us/step - loss: 0.5316 - accuracy: 0.7418
Epoch 61/100
858/858 [==============================] - 1s 613us/step - loss: 0.5317 - accuracy: 0.7417
Epoch 62/100
858/858 [==============================] - 1s 620us/step - loss: 0.5321 - accuracy: 0.7413
Epoch 63/100
858/858 [==============================] - 1s 608us/step - loss: 0.5319 - accuracy: 0.7420
Epoch 64/100
858/858 [==============================] - 1s 652us/step - loss: 0.5314 - accuracy: 0.7413
Epoch 65/100
801/858 [===========================>..] - ETA: 0s - loss: 0.5309 - accuracy: 0.7418
Epoch 00065: saving model to checkpoints\weights.65.hdf5
858/858 [==============================] - 1s 647us/step - loss: 0.5313 - accuracy: 0.7415
Epoch 66/100
858/858 [==============================] - 1s 641us/step - loss: 0.5312 - accuracy: 0.7414
Epoch 67/100
858/858 [==============================] - 1s 640us/step - loss: 0.5309 - accuracy: 0.7419
Epoch 68/100
858/858 [==============================] - 1s 623us/step - loss: 0.5319 - accuracy: 0.7414
Epoch 69/100
858/858 [==============================] - 1s 605us/step - loss: 0.5314 - accuracy: 0.7414
Epoch 70/100
843/858 [============================>.] - ETA: 0s - loss: 0.5311 - accuracy: 0.7418
Epoch 00070: saving model to checkpoints\weights.70.hdf5
858/858 [==============================] - 1s 617us/step - loss: 0.5316 - accuracy: 0.7414
Epoch 71/100
858/858 [==============================] - 1s 629us/step - loss: 0.5314 - accuracy: 0.7420
Epoch 72/100
858/858 [==============================] - 1s 614us/step - loss: 0.5310 - accuracy: 0.7415
Epoch 73/100
858/858 [==============================] - 1s 609us/step - loss: 0.5315 - accuracy: 0.7415
Epoch 74/100
858/858 [==============================] - 1s 618us/step - loss: 0.5310 - accuracy: 0.7414
Epoch 75/100
817/858 [===========================>..] - ETA: 0s - loss: 0.5309 - accuracy: 0.7408
Epoch 00075: saving model to checkpoints\weights.75.hdf5
858/858 [==============================] - 1s 637us/step - loss: 0.5315 - accuracy: 0.7407
Epoch 76/100
858/858 [==============================] - 1s 630us/step - loss: 0.5312 - accuracy: 0.7411
Epoch 77/100
858/858 [==============================] - 1s 610us/step - loss: 0.5316 - accuracy: 0.7414
Epoch 78/100
858/858 [==============================] - 1s 609us/step - loss: 0.5307 - accuracy: 0.7414
Epoch 79/100
858/858 [==============================] - 1s 609us/step - loss: 0.5308 - accuracy: 0.7417
Epoch 80/100
838/858 [============================>.] - ETA: 0s - loss: 0.5308 - accuracy: 0.7422
Epoch 00080: saving model to checkpoints\weights.80.hdf5
858/858 [==============================] - 1s 620us/step - loss: 0.5315 - accuracy: 0.7415
Epoch 81/100
858/858 [==============================] - 1s 618us/step - loss: 0.5336 - accuracy: 0.7416
Epoch 82/100
858/858 [==============================] - 1s 612us/step - loss: 0.5313 - accuracy: 0.7415
Epoch 83/100
858/858 [==============================] - 1s 611us/step - loss: 0.5320 - accuracy: 0.7416
Epoch 84/100
858/858 [==============================] - 1s 631us/step - loss: 0.5312 - accuracy: 0.7420
Epoch 85/100
818/858 [===========================>..] - ETA: 0s - loss: 0.5309 - accuracy: 0.7415
Epoch 00085: saving model to checkpoints\weights.85.hdf5
858/858 [==============================] - 1s 633us/step - loss: 0.5308 - accuracy: 0.7416
Epoch 86/100
858/858 [==============================] - 1s 612us/step - loss: 0.5309 - accuracy: 0.7412
Epoch 87/100
858/858 [==============================] - 1s 614us/step - loss: 0.5313 - accuracy: 0.7412
Epoch 88/100
858/858 [==============================] - 1s 640us/step - loss: 0.5309 - accuracy: 0.7411
Epoch 89/100
858/858 [==============================] - 1s 609us/step - loss: 0.5312 - accuracy: 0.7414
Epoch 90/100
836/858 [============================>.] - ETA: 0s - loss: 0.5315 - accuracy: 0.7416
Epoch 00090: saving model to checkpoints\weights.90.hdf5
858/858 [==============================] - 1s 620us/step - loss: 0.5311 - accuracy: 0.7418
Epoch 91/100
858/858 [==============================] - 1s 606us/step - loss: 0.5313 - accuracy: 0.7413
Epoch 92/100
858/858 [==============================] - 1s 604us/step - loss: 0.5311 - accuracy: 0.7416
Epoch 93/100
858/858 [==============================] - 1s 632us/step - loss: 0.5309 - accuracy: 0.7416
Epoch 94/100
858/858 [==============================] - 1s 627us/step - loss: 0.5313 - accuracy: 0.7423
Epoch 95/100
834/858 [============================>.] - ETA: 0s - loss: 0.5307 - accuracy: 0.7416
Epoch 00095: saving model to checkpoints\weights.95.hdf5
858/858 [==============================] - 1s 616us/step - loss: 0.5308 - accuracy: 0.7416
Epoch 96/100
858/858 [==============================] - 1s 610us/step - loss: 0.5307 - accuracy: 0.7416
Epoch 97/100
858/858 [==============================] - 1s 623us/step - loss: 0.5309 - accuracy: 0.7418
Epoch 98/100
858/858 [==============================] - 1s 611us/step - loss: 0.5309 - accuracy: 0.7417
Epoch 99/100
858/858 [==============================] - 1s 610us/step - loss: 0.5309 - accuracy: 0.7420
Epoch 100/100
840/858 [============================>.] - ETA: 0s - loss: 0.5310 - accuracy: 0.7414
Epoch 00100: saving model to checkpoints\weights.100.hdf5
858/858 [==============================] - 1s 614us/step - loss: 0.5310 - accuracy: 0.7416

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [79]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")